# Configurations for the application
# Only edit the values if you know what you are doing

[Database]
DATABASE_URL=jdbc:sqlite:db/user_data.db

[Text]
ERROR_MESSAGE_TITLE=Achtung
ERROR_MESSAGE_FILL_ALL_FIELDS=Bitte fülle alle Felder aus um fortzufahren.
ERROR_MESSAGE_PASSWORDS_NOT_EQUAL=Die Passwörter stimmen nicht überein.
ERROR_MESSAGE_USERNAME_OR_EMAIL_ALREADY_EXISTS=Ein Benutzer mit diesem Benutzernamen oder dieser E-Mail-Adresse existiert bereits.
ERROR_MESSAGE_CANNOT_ADD_USER_TO_DB=Fehler beim Erstellen des Benutzers. Bitte versuche es erneut.