# Configurations for the ChessMax
# Only edit the values if you know what you are doing

[Developer]
DEV_MODE=false

[ChessGame]
STARTING_POSITION_WHITE=rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1
STARTING_POSITION_BLACK=RNBKQBNR/PPPPPPPP/8/8/8/8/pppppppp/rnbkqbnr w KQkq - 0 1
WIDTH=1200
HEIGHT=1000
PADDING=30
BLINK_COUNT=2
TILE_SIZE=95
COLUMNS=8
ROWS=8
HALF_MOVE_CLOCK=0
FULL_MOVE_NUMBER=1
TEMP_FULL_MOVE_NUMBER=1
EN_PASSANT_TILE=-1

[Promotion]
TITLE=Bauernumwandlung
WIDTH=600
HEIGHT=150
HGAP=10
VGAP=10
IMAGE_ICON_WIDTH=100
IMAGE_ICON_HEIGHT=100

[Colors]
TILE_LIGHT=#FFE19C
TILE_DARK=#DB9D47
TILE_HIGHLIGHT=#6ABF69
TILE_HIGHLIGHT_CAPTURE=#FF6F61
TILE_HIGHLIGHT_MOVE_FROM_TO=#FEE440
TILE_HIGHLIGHT_CLICKED_PIECE=#D19C1D
TILE_HIGHLIGHT_ILLEGAL=#EF233C
TILE_HIGHLIGHT_MARKED=#F2572C
TILE_HIGHLIGHT_DRAG_FROM=#FFEA69
TILE_HIGHLIGHT_DRAG_FROM_ALPHA=175
TILE_HOVER_BORDER=#F0E1DD
TILE_HOVER_BORDER_THICKNESS=5
BACKGROUND=#D7BE82
PROMOTION=#1E90FF
ARROW_COLOR=#EAB824
ARROW_ALPHA=200
EVEN_ROW_COLOR=#FFE19C
ODD_ROW_COLOR=#E8B964
HISTORY_SCROLLBAR_THUMB=#787878
HISTORY_SCROLLBAR_THUMB_ALPHA=200
HISTORY_SCROLLBAR_THUMB_ARC=10
HISTORY_CELL_HIGHLIGHT=#f7d68f
HISTORY_CELL_HIGHLIGHT_ALPHA=125
TABLE_FOREGROUND=#FFFFFF
BUTTON_NORMAL=#FFE19C
BUTTON_HOVER=#FCD374
BUTTON_PRESSED=#F7DfA8
BUTTON_BORDER=#C4C4C4

[Buttons]
BUTTON_PADDING=20
BUTTON_CORNER_RADIUS=15

[History]
WIDTH=180
HEIGHT=0
HEADER_FONT_SIZE=14
PADDING_TOP=10
PADDING_LEFT=0
PADDING_BOTTOM=10
PADDING_RIGHT=10
BUTTON_PANEL_PADDING_TOP=0
BUTTON_PANEL_PADDING_LEFT=0
BUTTON_PANEL_PADDING_BOTTOM=30
BUTTON_PANEL_PADDING_RIGHT=30
COLUMN_MOVE_NUMBER_WIDTH=50
COLUMN_WHITE_WIDTH=75
COLUMN_BLACK_WIDTH=75
ARROWS_ICON_WIDTH=42
ARROWS_ICON_HEIGHT=42
ROW_HEIGHT=30

[MBPanel]
WIDTH=45
ROTATE_BUTTON_X=4
ROTATE_BUTTON_Y=100
ROTATE_BUTTON_WIDTH=35
ROTATE_BUTTON_HEIGHT=35
LEFT_SPACER_WIDTH=50
RIGHT_SPACER_WIDTH=0

[Arrow]
THICKNESS=20.0
HEAD_LENGTH=35.0
HEAD_ANGLE=35
START_MARGIN=5
START_MARGIN_DIAGONAL=25

[Images]
BOTS_SPRITE_SIZE=384
PIECES_SPRITE=/images/Chess_Pieces_Sprite.png
BOT_SPRITE=/images/Chess_Bots_Sprite.png
BOT_SPRITE_ABS=src/main/resources/images/Chess_Bots_Sprite.png
BOT_FOLDER=src/main/resources/images/bots/
ROTATE_BUTTON_ICON=/images/buttons/rotate.svg
HISTORY_TO_START=/images/buttons/history_start.svg
HISTORY_TO_END=/images/buttons/history_end.svg
HISTORY_PREVIOUS=/images/buttons/history_previous.svg
HISTORY_NEXT=/images/buttons/history_next.svg

[Bots]
BOT_1_NAME=Martin
BOT_1_SPRITE=1
BOT_1_ELO=250
BOT_1_DEPTH=1

BOT_2_NAME=The Master
BOT_2_SPRITE=2
BOT_2_ELO=1900
BOT_2_DEPTH=3

BOT_3_NAME=Hikaru
BOT_3_SPRITE=3
BOT_3_ELO=2850
BOT_3_DEPTH=5

[Sounds]
MOVE=src/main/resources/sounds/wav/move-piece.wav
CAPTURE=src/main/resources/sounds/wav/capture.wav
CHECK=src/main/resources/sounds/wav/move-check.wav
GAME_END=src/main/resources/sounds/wav/game-end.wav
GAME_START=src/main/resources/sounds/wav/game-start.wav
CASTLE=src/main/resources/sounds/wav/castle.wav
ILLEGAL_MOVE=src/main/resources/sounds/wav/illegal.wav

[Security]
SECRET_KEY=r9m9uvsErMKzJVQDUGOp4AZAVbJFggbs/I/riPOC9vk=

[Server]
SERVER_HOST=localhost
SERVER_PORT=8443

[Database]
DATABASE_URL=jdbc:sqlite:db/UserAccounts.db

[Text]
TITLE=ChessMax

LOGIN_TITLE=Anmelden
LOGIN_LABEL_USERNAME_OR_EMAIL=Benutzername / E-Mail-Adresse
LOGIN_LABEL_PASSWORD=Passwort
LOGIN_BUTTON_LOGIN=Anmelden
LOGIN_BUTTON_BACK=Zurück
LOGIN_SWITCH_TO_REGISTRATION=Konto erstellen
REGISTRATION_TITLE=Konto erstellen
REGISTRATION_LABEL_USERNAME=Benutzername
REGISTRATION_LABEL_EMAIL_ADDRESS=E-Mail-Adresse
REGISTRATION_LABEL_FIRSTNAME=Vorname
REGISTRATION_LABEL_LASTNAME=Nachname
REGISTRATION_LABEL_PASSWORD=Passwort
REGISTRATION_LABEL_CONFIRM_PASSWORD=Passwort bestätigen
REGISTRATION_BUTTON_REGISTRATION=Konto erstellen
REGISTRATION_BUTTON_BACK=Zurück
REGISTRATION_SWITCH_TO_LOGIN=Anmelden
STARTMENU_TITLE=Startseite
STARTMENU_BUTTON_LOGIN_OR_REGISTRATION=Anmelden / Registrieren
STARTMENU_BUTTON_PATCH_NOTES=Versionshinweise
STARTMENU_BUTTON_SETTINGS=Einstellungen
STARTMENU_BUTTON_PLAY_AS_GUEST=Als Gast spielen
PLAY_AS_TITLE=Farbe wählen
PLAY_AS_MESSAGE=Wähle die Farbe, die du spielen möchtest.
PLAY_AS_OPTION_WHITE=Weiß
PLAY_AS_OPTION_BLACK=Schwarz
PLAY_AS_OPTION_GO_BACK=Abbrechen

INFORMATION_MESSAGE_TITLE=Information

ERROR_MESSAGE_TITLE=Achtung
ERROR_MESSAGE_FILL_ALL_FIELDS=Bitte fülle alle Felder aus um fortzufahren.
ERROR_MESSAGE_PASSWORDS_NOT_EQUAL=Die Passwörter stimmen nicht überein.
ERROR_MESSAGE_USERNAME_OR_EMAIL_ALREADY_EXISTS=Ein Benutzer mit diesem Benutzernamen oder dieser E-Mail-Adresse existiert bereits.
ERROR_MESSAGE_CANNOT_ADD_USER_TO_DB=Fehler beim Erstellen des Benutzers. Bitte versuche es erneut.
ERROR_MESSAGE_WRONG_USERNAME_OR_PASSWORD=Ein Benutzer mit diesem Benutzernamen oder diesem Passwort existiert nicht.
