# [Colors]
TILE_LIGHT=#FFE19C
TILE_DARK=#DB9D47
TILE_HIGHLIGHT=#6ABF69
TILE_HIGHLIGHT_CAPTURE=#FF6F61
TILE_HIGHLIGHT_MOVE_FROM_TO=#FFAA00
TILE_HIGHLIGHT_CLICKED_PIECE=#D19C1D
TILE_HIGHLIGHT_ILLEGAL=#EF233C
SCOREBOARD_BACKGROUND=#1E1E1E
SCOREBOARD_TEXT=#FFFFFF
SCOREBOARD_SUBTEXT=#D3D3D3
BACKGROUND=#D7BE82
PROMOTION=#1E90FF

# [Sounds]
MOVE=src/main/resources/sounds/wav/move-piece.wav
CAPTURE=src/main/resources/sounds/wav/capture.wav
CHECK=src/main/resources/sounds/wav/move-check.wav
GAME_END=src/main/resources/sounds/wav/game-end.wav
GAME_START=src/main/resources/sounds/wav/game-start.wav
CASTLE=src/main/resources/sounds/wav/castle.wav
ILLEGAL_MOVE=src/main/resources/sounds/wav/illegal.wav

# [Pieces]
WHITE_KING=♔,K
WHITE_QUEEN=♕,Q
WHITE_ROOK=♖,R
WHITE_BISHOP=♗,B
WHITE_KNIGHT=♘,N
WHITE_PAWN=♙,P
BLACK_KING=♚,k
BLACK_QUEEN=♛,q
BLACK_ROOK=♜,r
BLACK_BISHOP=♝,b
BLACK_KNIGHT=♞,n
BLACK_PAWN=♟,p

# [Gui]
TITLE=ChessMax
WIDTH=1200
HEIGHT=1000
DEFAULT_CLOSE_OPERATION=EXIT_ON_CLOSE
START_DELAY=1000
STARTING_POSITION=rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1
PADDING=30
BLINK_COUNT=2
DELAY=300
TILE_SIZE=95
COLUMNS=8
ROWS=8
HALF_MOVE_CLOCK=0
FULL_MOVE_NUMBER=1
TEMP_FULL_MOVE_NUMBER=1
TARGET_COLUMN=-1
TARGET_ROW=-1
LAST_MOVE_FROM_COLUMN=-1
LAST_MOVE_FROM_ROW=-1
LAST_MOVE_TO_COLUMN=-1
LAST_MOVE_TO_ROW=-1

# [Images]
SHEET=images/Chess_Pieces_Sprite.png

# [Database]
DB_PATH=src/main/resources/database/.dat
